<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINESWEEPER</title>

    <!-- css and bootstrap -->
    <link href="../bootstrap-5.3.1-dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5 fw-bolder text-bg-dark">MINESWEEPER</h1>
        <div id="select-section">
            <div class="d-flex justify-content-center">
                <select class="form-select w-auto me-4" id="difficulty">
                    <option selected>Please Select Difficulty</option>
                    <option value="8x8">Easy (8x8)</option>
                    <option value="16x16">Hard (16x16)</option>
                </select>
                <button type="button" class="btn btn-secondary fw-bold" name="play" value="play" id="Play">Play</button>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 id="minescount" class="text-center text-bg-secondary mb-3"></h1>
        <h2 id="flagcounts" class="text-center text-bg-light"></h2>
        <div id="minesweeperboard">
            <div class="grid8"></div>
            <div class="grid16"></div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="mymodal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h1 id="alertheading"></h1>
              <p id="score"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" id="playagain">Play Again</button>
            </div>
          </div>
        </div>
      </div>
</div>

    <script src="../javascript/jquery-3.7.0.min.js"></script><!--jquery script -->
    <script src="../javascript/script.js"></script>  <!-- script -->  
    <script src="../bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script> <!--bootstrap script --> 
</body>
</html>